<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- To get detailed logs for network traffic, you can set the `io.netty` logger level to `debug` -->
        <Logger name="io.netty" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- Keep the root logger at `error` to avoid excessive logging from other libraries -->
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
